<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <File name="log1" fileName="log/test1.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <File name="log2" fileName="log/test2.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </appenders>
    <loggers>
        <root level="debug">
            <appender-ref ref="log1"/>
            <appender-ref ref="STDOUT" />
        </root>
        <logger level="debug" name="log2"  additivity="false">
            <appender-ref ref="log2"/>
        </logger>
    </loggers>
</configuration>